<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descripton" content= "¿Te apasiona la música? Muchos de nosotros nos podemos pasar de largo un día tan solo escuchando
    nuestra música favorita, y es que ¿Quién no? Con la música el mundo se pinta de color, por eso aquí estamos dispuestos a sacarle a provecho a ese don!" >
    <title>Música</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Aquí agregé un favicon a la página web-->
    <link rel="shortcut icon" href="violin.png">
    <link rel="stylesheet" href= "estilo.css" >
</head>
    
<body>
    
    <article>

        <h1>LA LA LAND MUSIC ♫♫</h1>

    </article>
    
    <h2>
        TOP Canciones

    </h2>
    <h3>
        En casa, en el trabajo, o en un café, solo tienes que presionar un botón para empezar a escuchar tu música preferida.

    </h3>
  

<!-- uso la etiqueta "nav" para hacer un menú de navegación junto con la etiqueta "a" para generar otros links -->
<nav class= menú > 
    <ul>

<!-- Si yo quiero sub-menús, antes de acabar el "li" pongo la etiqueta "ul" y pongo los nombres que yo quiera en el sub-menú, cada uno dentro de un "li" y finalizo cerrando con la etiqueta "ul" y "li" nuevamente -->
    <li><a href="#">Inicio ♫</a>
    
    </ul>
    </li>

   <ul><li><a href="MusicaPop.html">Pop 🎤</a>
    </ul>
     </li>
     <ul><li><a href="RockMusic.html">Rock 🎸</a>
    </ul>
    </li>
    <ul><li> <a href="LomejordelaSlasa.html">SALSA💃</a>
    </ul>
    </li>
    <ul><li><a href="TodoReggae.html">Reggae 📻</a>
    
    </ul>
    </li>

</nav>
    </header>

</body>
</html>