<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Con la etiqueta "Article muesrto un contenido individual del tipo título" -->
    <article>
        <h1>Lo mejor de la música Pop</h1>
        <p> Música Pop en Inglés.</p>
        <p>Los éxitos del año y todas las novedades semanales las tienes aquí.</p>

    </article>
<!-- Uso la etiqueta section para seccionar (hacer sub-divisiones) -->
    <section>
        <h2>Artistas</h2>
    </section>
    <section>
        <h3>1. Camila Cabello</h3>
    </section>


</body>
</html>