<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Coloco la etiqueta "header" para agregar un encabezado -->
    <header>
        <article>

            <H1>LAS MEJORES CANCIONES DE ROCK AND ROLL DE LA HISTORIA</H1>

        </article>
    </header>

    <a href="index.html">Volver al Inicio</a>

</body>
</html>