@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
     font-family: 'montserrat', sans-serif;
}
.contenido{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header{
    background: #bcbcbc;
    width: auto;
    flex-direction: column;
    display: block;
    background-size: cover;
    text-decoration: none;
}

div.brand{
    width: 100%;
    display: inline-block;
    text-align: left;
    text-decoration: none;
}
.brand a{
    text-decoration: none;
}

div.nav-list{
    text-align: right;
    text-decoration: none;
}
ul.mini li{
    display: inline;
    width: 100%;
    text-decoration: none;
}

ul.mini li a{
    border: 1px solid red;
    text-decoration: none;
    display: inline;
    
}
/****************inicio de slider******************************/
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}   
ul.slider li{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
    display: inlines;
}
ul.slider li img{
    width: 75%;
    height: 300px;
    object-fit: cover;
    border: 2px solid black;
}
ul.slider li:first-child {
    opacity: 0;
}
ul.slider li:target {
    opacity: 1;
}
.menu_slider{
    text-align: center;
    margin: 20px;
  }
  
.menu_slider li{
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .menu_slider li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    left:auto;
    font-weight: normal;
  }
ul.slider li p{
    color: black;
    
}
/*************fin**slider**********/
.principal{
    width: 50%;  
    text-align: left;
  }

/************foooter******************/
#pie{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    height: 0x;
}
#pie .pie {
   min-height: 200px;
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 10px;
}
#pie h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
#pie .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#pie .social-item{
    height: 50%;
    width: 50%;
    object-fit: cover;
}
#pie .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#pie p{
    color: blue;
    font-size: 1.3rem;
}
#pie .pie h1{
    text-align: center;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(165, 248, 223);
}
