@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    margin:0;
    padding:0px;
    background:rgb(255, 254, 254);
}

.logo h1 span {
	color: rgb(100, 248, 216);
    background: #29323c;
    
}

.logo h1 {
    background: #29323c;
	font-size: 40px;
    font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
    padding:10px 40px;
    
    
    
}
.artistas h1 span{
    color:rgb(61,194,212);
}
.artistas h1{
    font-size:80px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    color:rgb(230, 107, 107);
    text-align: center;
    padding-top: 70px;
}
.subtitulo{
    font-size:40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#000;
    text-align: center;
    padding:50px;
}
body{
    font-family:'Montserrat', sans-serif;
    font-size: 10px;
    /* padding-left:80px; */
    
}
.wrapper{
    
}
.caja{
    
    width: 25%;
    background-color: rgb(240, 141, 146);
    display:inline-block;
    border-radius: 5px;
    margin:40px;
    box-shadow: 2px 2px 10px rgb(107, 103, 103);
    padding: 10px ;
    opacity:1;
    
}
.caja:hover{
    
    opacity:0.7;
    
}
.imagen img{
    width: 100%;
}
.titulo{
    text-align: center;
    padding: 15px;
    color:#338481;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;


}
.contenido{
    text-align: justify;
    padding: 20px;
    color:#000;
    font-family: 'Montserrat', sans-serif;
    
    
    
    
}