@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: #ffffff;
}
/* links sin decoración */
a {
	text-decoration: none;
}
/* ---------- */
/* EL OCNTENIDO DE LAS SECCIONES (TAMAÑO DE CADA SECCIÓN */
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* ------------------- */
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    border-radius: 40%;
	
}
img.guitarra {
	height: 100%;
	width: 100%;           
	object-fit: cover;
	height: 173px;
	width: 301px;
	margin-bottom: 20px;
    margin:0 auto;
	border-radius: 10px;
    
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
#services p.que_es{
	color: black;
	font-size: 2rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
	
}
#services p.subtitulo{
	font-size: 2rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color:#000000 ;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: #ee4242;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.brand h1 span {
	color: rgb(100, 236, 207);
}

/* Sección del header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background: #29323c;
	
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
/* COLOR BLANCO Y AMARILLO DE LA BARRA DE NAVEGACION */
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: rgb(253, 253, 253);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li:hover a {
	color: rgb(241, 247, 159);
}
/* FIN */
/* ICONO DEL MENU */
#header .menu_generos {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(248, 231, 231);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
/* FIN  ICONO DEL MENU */

/* ANIMACION DEL ICONO MENU */
#header .menu_generos:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: menu_generos_puls 1s ease infinite;
}
/* FIN DE ANIMACION MENU */

/* FONDO DEL ICONO MENU */
#header .menu_generos .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
/* FIN DEL FONDO DEL ICONO MENU */

/* BARRAS DEL ICONO MENU */
#header .menu_generos .bar::after,
#header .menu_generos .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}

#header .menu_generos .bar::after {
	top: 8px;
}
#header .menu_generos .bar::before {
	bottom: 8px;
}
#header .menu_generos.active .bar::before {
	bottom: 0;
}
#header .menu_generos.active .bar::after {
	top: 0;
}
/* FIN BARRAS DEL ICONO MENU */


/* Fin de la seccion del header */

/* sección principal */
#hero {
	background-image: url(./img/rock.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.76);
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
/* titulo principal y tamaño en cel */
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
    color:#Fff;
	
}
/* fin */

/* fin de la sección principal */

/* seccion generos */
/* orden de las cards */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
    border:2px solid #C1BDDB;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
}

/* titulos y contenido de las bandas (cards) */
#services .service-bottom .icon {
	height: 90px;
	width: 100px;
	margin-bottom: 20px;
    margin:0 auto;

}
#services .service-item h2 {
	font-size: 2rem;
	color: #1B9AAA;
	margin-bottom: 10px;
    margin-top:12px;
	text-transform: uppercase;
    
}
#services .service-item p {
	color: #1F363D;
	text-align: left;
}
/* fin */
/* fin de la seccion generos */

/* canciones */
#services #canciones .service-bottom .service-item{
	border-radius: 60px;
	padding:10px;
	border-color:#000000 ;
}
#services #canciones .service-bottom .service-item h2.titulocancion{
	 color:#ee4242 ;
 }

/* ---------- */
/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes menu_generos_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(233, 144, 162);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */



	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}



@media only screen and (min-width: 1200px) {
	/* header */
	#header .menu_generos {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* fin del footer */
